body{
    background-color: slategray;
}

.navbar-image {
    width: 80px;
}

.kaktus-image {
    width: 35%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.header{
    background-color: #5abb90;
}

.header-text{
    text-align: center;
}

.navbar-nav{
    text-align: right;
}
.navbar-brand{
    font-size: 50px;
    margin-bottom: 0px;
}

.bttn-join{
    width: 30%;
    text-align: center;
}

.column{
    border-style: outset;
    border-color: black;
    background-color: rgb(92, 179, 160);
}

.container{
    margin-top: 50px;
}

th{
    font-weight: bold;
    font-size: 20px;
    background-color: #348936;
}