<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <p>{{ category }} : {{ difficulty }}</p>
    <h3>{{ question }}</h3>
    <ul>
        <li><button type="button" class="button answer">{{ answer }}</button></li>
        {% for opt in options %}
        <li><button type="button" class="button option">{{ opt }}</button></li>
        {% endfor %}
    </ul>
</body>
</html>

